<html>
    <head>
        <title>Book list</title>
    </head>
    <body>
        <a href="/">Home</a> |
        <a href="/books">Show all books</a> |
        <br>
        <h2>Book list:</h2>
        <form action="book-list">
            <table border="1">
                <tr>
                    <th>Title</th>
                    <th>Available</th>
                    <th>Author</th>
                </tr>

                <tr th:each = "book: ${listBooks}">
                    <td th:text="${book.getTitle()}"> />
                    <td th:text="${book.getAvailableAmount()}"></td>
                    <td th:text="${book.getMainAuthor().getFirstName()} + ' ' + ${book.getMainAuthor().getLastName()}"></td>
                </tr>
            </table>
        </form>

    </body>
</html>
