<html>
    <head>
        <title>Book list</title>
    </head>
    <body>
        <a href="/home">Home</a> |
        <a href="/">Show all books</a> |
        <br>
        <h2>Book list:</h2>
        <form action="book-list">
            <table border="1">
                <tr>
                    <th>Title</th>
                    <th>Available</th>
                </tr>

                <tr th:each = "book: ${listBooks}">
                    <th th:text="${book.getTitle()}"> />
                    <th th:text="${book.getAvailableAmount()}" />
                </tr>
            </table>
        </form>
    </body>
</html>
