<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <title>
            Send email
        </title>
    </head>

    <body>
        <div class="container">
            <a href="/"><br>Home</a> |
            <a href="/users">Show all users</a>
            <div class="col-md-offset-2">
                <h2>Send e-mail</h2>
            </div>

            <form th:action="@{/users/send-email}" method="post">
                Title:
                <br>
                <input type="text" name="title" size="50">
                <br><br>
                Message:
                <br>
                <textarea name = "message" rows="4" cols="50">

            </textarea>
                <br><br>
                <input type="submit" value="Send">
                <input type="reset" value="Reset">
            </form>
        </div>
    </body>
</html>