<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<div class="container">
    <a href="/"><br>Home</a>
    <h2><br>List of users</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Reg Date</th>
            <th colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, el: ${users}">
            <td th:text="${el.index + 1}"></td>
            <td th:text="${user.id}"></td>
            <td>
                <a th:href="@{|/users/user-date/${user.getId()}|}" th:text="${user.firstName}"></a>
            </td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.registrationDate}"></td>
            <td>
                <a th:href="@{|/users/remove/${user.getId()}|}">Delete</a>
            </td>
            <td>
                <a th:href="@{|/users/send-email/${user.getId()}|}">Send email</a>
            </td>
        </tr>
        </tbody>
    </table>
    <span>
        <a th:href="@{|/users/send-email-all|}">
            Notify all!
        </a>
    </span>
    <br>
    <span>
           <a th:href="@{|/users/add|}">Add new user</a>
    </span>
</div>
        <div sec:authorize="isAuthenticated()">
            This text is displayed for authenticated users.
        </div>
        <div sec:authorize="isAuthenticated()">
            Welcome, <span sec:authentication="name">Username</span>
        </div>
        <div sec:authorize="hasRole('admin')">
            This content is only shown to administrators.
        </div>
        <div sec:authorize="hasRole('user')">
            This content is only shown to users.
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            Content for administrators
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            Content for users
        </div>

    </body>
</html>