<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Books list</title>
</head>
<body>

<div class="container">
    <a href="/"><br>Home</a>
    <h2><br>Book </h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Available</th>
            <!--            <th colspan="3" >Operations</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, el: ${book}">
            <td th:text="${el.index + 1}"></td>
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.mainAuthor.getLastName() + ' ' + book.mainAuthor.getFirstName()}"></td>
            <td th:text="${book.availableAmount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>